<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update tour</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/img/comLogo.jpg" type="image/png">
    <link rel="stylesheet" href="/sources/css/other.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/sources/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/sources/js/jquery.backgroundMove.js}"></script>
</head>

<body class="move">
<form method="post" enctype="multipart/form-data" action="/update_content">
    Title:<br>
    <input type="hidden" name="id" th:value="${id}">
    <input type="text" th:value="${title}" name="title"><br>
    Content:<br>
    <textarea rows="8"  cols="50" type="text" th:utext="${content}" name="content"></textarea><br>
    <table>
        <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
    </table>
    <button type="submit" value="Submit">Submit</button>
    <a style="color: #ffffff; font-family: 'Times New Roman';font-size:30px;
padding-left:12cm" th:href="@{/admin/home}">BACK</a>
</form>

<div class="container">

    <script type="text/javascript">
        $('.move').backgroundMove(({
            movementStrength: '30'
        }));
    </script>

</div>
</body>
</html>